@page
@model ErrorModel
@{
    ViewData["Title"] = @Localizer["error"];
}

<h1 class="text-danger">@Localizer["error"]</h1>
<h2 class="text-danger">@Localizer["error_text"]</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}